#maintext{
   text-align:center;
   width: 835px;
   height: 409px;
   position: absolute;
   top: 212px;
   left:223px;
   font-size: 128px;
   font-style: Adamima;
}
#topright1 {
      width: 141px;
      height: 50px;
     position: absolute;
     top: 60px;
     right: 456px;
     border-radius: 25px;
     background-color: white;
}
#topright2 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 60px;
   right : 313px;
   border-radius: 25px;
   border-color: white;
   background-color: #000000;
   color:white;

}
#topright3 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 60px;
   right: 170px;
   border-radius: 25px;
   border-color: white;
   background-color: #000000;
   color:white;
}
.background{
   background-image: url(background1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}