#maintext{
   position: absolute;
   width: 835px;
   height: 409px;
   top: 70px;
   left:223px;
   font-size: 128px;
   font-style: Adamima;
   font-weight: 400;
   color: white;
   line-height: 135px;
   text-align:center;
}
body{
   width: 1280px;
   background-image: url(images/background1.jpg);
   background-size: 1280px 832px;
   background-color: black;
   background-repeat: no-repeat;
}
#topright1 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 45px;
   right: 650px;
   border-radius: 25px;
   background-color: white;
   border-color: transparent;
}
#topright2 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 47px;
   right : 507px;
   border-radius: 25px;
   border-color: transparent;
   background-color: transparent;
   color:white;
}
#topright3 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 47px;
   right: 363px;
   border-radius: 25px;
   border-color: transparent;
   background-color: transparent;
   color:white;
}
#text1{
   position:absolute;
   width: 536px;
   height: 38px;
   top: 872px;
   left: 131px;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 400;
   line-height: 38.4px;
   color: white;
}
.circle1{
   position: absolute;
   width: 40px;
   height: 40px;
   top: 900px;
   left: 80px;
   background-image: url(images/Ellipse.png);
   background-size: auto;
   background-color: transparent;
}
#one{
   position: absolute;
   width: 15px;
   height: 29px;
   top: -19px;
   left: 13px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: center;
   color: white;
}
.line1{
   position: absolute;
   width: 507px;
   height: 1px;
   top: -19px;
   left: 300px;
   gap: 0px;
   opacity: 0px;
   color: white;
}
 #text2{
   position: absolute;
   width: 147px;
   height: 29px;
   top: 85px;
   left: 30px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 400;
   line-height: 28.8px;
   text-align: left;
   color: black;
}
#text3{
   position: absolute;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 21.6px;
   text-align: left;
   width: 301px;
   height: 88px;
   top: 119px;
   left: 30px;
}
#learnmore1{
   position: absolute;
   width: Fixed (120px)px;
   height: Fixed (35px)px;
   top: 248px;
   left: 30px;
   padding: 13px 20px 13px 20px;
   gap: 10px;
   border-radius: 50px;
   background-color: black;
   color: white;
}
.box1{
   position: absolute;
   width: 360px;
   height: 313px;
   top: 951px;
   left: 80px;
   background-color: white;
   background-image: url(images/house.png);
   background-size: 45px 45px;
   background-repeat: no-repeat;
   background-position: 45px 45px;
}
#text4{
   position: absolute;
   width: 144px;
   height: 29px;
   top: 85px;
   left: 30px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 400;
   line-height: 28.8px;
   text-align: left;
   color: white;
}
#text5{
   position: absolute;
   width: 293px;
   height: 110px;
   top: 119px;
   left: 30px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 21.6px;
   text-align: left;
   color: white;
}
#learnmore2{
   position: absolute;
   width: Fixed (120px)px;
   height: Fixed (35px)px;
   top: 248px;
   left: 30px;
   padding: 13px 20px 13px 20px;
   gap: 10px;
   border-radius: 50px;
   opacity: 0px;
}
.box2{
   position: absolute;
   width: 360px;
   height: 313px;
   top: 951px;
   left: 459px;
   gap: 0px;
   border-radius: 25px 0px 0px 0px;
   opacity: 0px;
   background-color: black;
   background-image: url(images/money.png);
   background-position: 30px 30px;
   background-size: 45px 45px;
   background-repeat: no-repeat;
}
#text6{  
   position: absolute;
   width: 160px;
   height: 29px;
   top: 85px;
   left: 30px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 400;
   line-height: 28.8px;
   text-align: left;
   color: white;
}
#text7{  
   position: absolute;
   width: 254px;
   height: 88px;
   top: 119px;
   left: 30px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 21.6px;
   text-align: left;
   color: white;
}
#learnmore3{  
   position: absolute; 
   width: Fixed (120px)px;
   height: Fixed (35px)px;
   top: 248px;
   left: 30px;
   padding: 13px 20px 13px 20px;
   gap: 10px;
   border-radius: 50px;
   opacity: 0px;
   color:black;
   background-color: white;
}
.box3{   
   position: absolute;
   width: 360px;
   height: 313px;
   top: 951px;
   left: 840px;
   gap: 0px;
   border-radius: 25px;
   opacity: 0px;
   background-image: url(images/flat.png);
   background-position: 30px 30px;
   background-size: 45px 45px;
   background-repeat: no-repeat;
}
#text8{  
   position: absolute;
   width: 84px;
   height: 38px;
   top: 1300px;
   left: 131px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 400;
   line-height: 38.4px;
   text-align: left;
   color: white;
}
.circle2{ 
   position:absolute;
   background-image: url(images/Ellipse.png);
   background-repeat: no-repeat;
   background-size: auto;
   width: 40px;
   height: 40px;
   top: 1330px;
   left: 80px;
   gap: 0px;
}
#two{ 
   position: absolute;
   width: 11px;
   height: 29px;
   top: -19px;
   left: 14px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: center;
   color: white;
}
#line2{  
   position: absolute;
   width: 930px;
   height: 1px;
   top: 1961px;
   left: 270px;
   gap: 0px;
   opacity: 0px;
   color: white;
}
.box4{
   position: absolute;
   background-image: url(images/box4.jpg);
   background-repeat: no-repeat;
   width: 358px;
   height: 500px;
   top: 1391px;
   left: 80px;
   background-color: #00000059, 30%;
}
#text9{  
   position: absolute;
   width: 284px;
   height: 38px;
   top: 295px;
   left: 20px;
   gap: 0px;
   opacity: 0px;
   color: white;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 400;
   line-height: 38.4px;
   text-align: left;
}
#text10{ 
   position: absolute;
   width: 264px;
   height: 68px;
   top: 347px;
   left: 20px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 16.5px;
   text-align: left;
   color: white;
}
#seemore1{
   position: absolute;
   width: Fixed (120px)px;
   height: Hug (35px)px;
   top: 445px;
   left: 20px;
   padding: 8px 25px 8px 25px;
   gap: 10px;
   border-radius: 25px;
   opacity: 0px;
   color: black;
   background-color: white;
}
.box5{   
   position: absolute;
   background-image: url(images/box5.jpg);
   background-repeat: no-repeat;
   width: 357px;
   height: 500px;
   top: 1391px;
   left: 461px;
   gap: 0px;
   opacity: 0px;
}
#text11{ 
   position: absolute;
   width: 210px;
   height: 38px;
   top: 300px;
   left: 20px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 400;
   line-height: 38.4px;
   text-align: left;
   color: white;   
}
#text12{ 
   position: absolute;
   width: 263px;
   height: 68px;
   top: 355px;
   left: 20px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 16.5px;
   text-align: left;
   color: white;
}
#seemore2{
  position: absolute;
   width: Fixed (120px)px;
   height: Hug (35px)px;
   top: 445px;
   left: 20px;
   padding: 8px 25px 8px 25px;
   gap: 10px;
   border-radius: 25px;
   opacity: 0px;
   color: black;
   background-color: white;
}
.box6{   
   position: absolute;
   background-image: url(images/box6.jpg);
   background-repeat: no-repeat;
   width: 358px;
   height: 500px;
   left: 380px;
}
#text13{ 
   position: absolute;
   width: 330px;
   height: 38px;
   top: 304px;
   left: 20px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 400;
   line-height: 38.4px;
   text-align: left;
   color: white;
}
#text14{ 
   position: absolute;
   width: 267px;
   height: 68px;
   top: 355px;
   left: 20px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 16.5px;
   text-align: left;
   color: white;   
}
#seemore3{  
   position: absolute;
   width: Fixed (120px)px;
   height: Hug (35px)px;
   top: 445px;
   left: 20px;
   padding: 8px 25px 8px 25px;
   gap: 10px;
   border-radius: 25px;
   opacity: 0px;
}
#text15{ 
   position: absolute;
   width: 307px;
   height: 76px;
   top: 500px;
   gap: 0px;
   right: 393px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 700;
   line-height: 38.4px;
   text-align: left;
   color: white;
}
.circle3{   
   position: absolute;
   width: 40px;
   height: 40px;
   top: 533px;
   left: -390px;
   background-image: url(images/Ellipse.png);
   background-size: auto;
   background-color: transparent;
}
#three{  
   position: absolute;
   width: 11px;
   height: 29px;
   top: -19px;
   left: 15px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: center;
   color: white;
}
#line3{  
   position: absolute;
   width: 930px;
   height: 1px;
   top: 1961px;
   left: 270px;
   gap: 0px;
   opacity: 0px;
   color: white;
}
#text16{ 
   position: absolute;
   width: 340px;
   height: 76px;
   top: 571px;
   right: 390px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 32px;
   font-weight: 700;
   line-height: 38.4px;
   text-align: left;
   color: white;
}
#text17{ 
   position: absolute;
   width: 523px;
   height: 44px;
   top: 675px;
   right: 208px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 15px;
   font-weight: 400;
   line-height: 21.6px;
   text-align: left;
   color: white;
}
#Fname{  
   position: absolute;
   width: 247px;
   height: 50px;
   top: 780px;
   right: 475px;
   gap: 0px;
   opacity: 0px;
   background-color: black;
   border-color: white;
   color: white;
}
#Lname{  
   width: 247px;
   height: 50px;
   top: 780px;
   right: 199px;
   opacity: 0px;
   position: absolute;
   color: white;
   background-color: black;
   border-color: white;
}
#Email{  
   width: 247px;
   height: 50px;
   top: 860px;
   right: 475px;
   gap: 0px;
   opacity: 0px;
   position: absolute;
   color: white;
   background-color: black;
   border-color: white;
}
#Phone{  
   position: absolute;
   width: 247px;
   height: 50px;
   top: 860px;
   right: 199px;
   color: white;
   background-color: black;
   border-color: white;
}
#Description{  
   position: absolute;
   width: 523px;
   height: 150px;
   top: 940px;
   right: 199px;
   gap: 0px;
   opacity: 0px;
   color: white;
   background-color: black;
   border-color: white;
   text-align: left;
}
#image{
   position: absolute;
   background-image: url(images/last.png);
   background-repeat: no-repeat;
   background-size: 600px 475px;
   width: 600px;
   height: 475px;
   top: 700px;
   left: 200px;
   gap: 0px;
   opacity: 0px;
}
#About{  
   position: absolute;
   width: 52px;
   height: 24px;
   top: 1182px;
   right: 670px;
   gap: 0px;
   opacity: 0px;
   color: white;
   background-color: black;
   border-color: transparent;
   font-family: Blinker;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
}
#Portfolio{ 
   position: absolute;
   width: 74px;
   height: 24px;
   top: 1182px;
   right: 550px;
   gap: 0px;
   opacity: 0px;
   color: white;
   background-color: black;
   border-color: transparent;
   font-family: Blinker;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
}
#Footprint{ 
   position: absolute;
   width: 80px;
   height: 24px;
   top: 1182px;
   right: 430px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   background-color: black;
   color: white;
   border-color: transparent;
}
#text18{ 
   position: absolute;
   width: 312px;
   height: 24px;
   top: 1182px;
   left: 480px;
   gap: 0px;
   opacity: 0px;
   font-family: Blinker;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   color: white;
}
#line4{  
   position: absolute;
   width: 930px;
   height: 1px;
   top: 1961px;
   left: 270px;
   gap: 0px;
   opacity: 0px;
   color: white;
}
#bottom{ 
   position: absolute;
   background-image: url(images/finallogo.png);
   background-repeat: no-repeat;
   background-size: 55px 49px;
   top: 1182px;
   left: 200px;
   width: 49px;
   height: 55px;
}
