#maintext{
   position: absolute;
   width: 835px;
   height: 409px;
   top: 212px;
   left:223px;
   font-size: 128px;
   font-style: Adamima;
   color: white;
   line-height: 135px;
   text-align:center;
}
body{
   background-image: url(images/background1.png);
   background-size: 1280px 832px;
   background-color: black;
   background-repeat: no-repeat;
      }
#topright1 {
      width: 141px;
      height: 50px;
     position: absolute;
     top: 45px;
     right: 650px;
     border-radius: 25px;
     background-color: white;
     border-color: transparent;
}
#topright2 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 47px;
   right : 507px;
   border-radius: 25px;
   border-color: transparent;
   background-color: transparent;
   color:white;
}
#topright3 {
   width: 141px;
   height: 50px;
   position: absolute;
   top: 47px;
   right: 363px;
   border-radius: 25px;
   border-color: transparent;
   background-color: transparent;
   color:white;
}
#text1{
position:absolute;
width: 536px;
height: 38px;
top: 882px;
left: 131px;
font-family: Blinker;
font-size: 32px;
font-weight: 400;
line-height: 38.4px;
color: white;
}
#one{
   position: absolute;
   width: 9px;
   height: 29px;
   top: 895px;
   left: 96px;
   font-family: Blinker;
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
   text-align: center;
   color: white;

}
#circle{
   width: 40px;
   height: 40px;
   top: 881px;
   left: 80px;
   border: 1px;
   border-radius: 25px;
   color: white;
}